.section {
    margin-top: 50px;
}

.btn {
    width: 20%;
}

.route {
    background-color: #fafafa;
    border-radius: 10px;
}

.contacto-container {
    padding: 3%;
}

.icons {
    color: #000;
    width: 100px;
}

.lista {
    list-style: none;
    display: flex;
    padding: 0;
}

.lista li {
    margin-right: 10px;
    margin: 15px;
}

.icons {
    text-decoration: none;
    color: #000;
}

.icons i {
    font-size: 30px;
    /* Ajusta el tamaño de los iconos según tu preferencia */
}